* {
    box-sizing: border-box;
}

body, html{
    background-color: #f6f2e9;
    margin: 0;
    padding: 0;
    height: 100%;
    cursor: pointer;
    min-width: 900px;
    overflow-x: hidden;
    overflow-y: hidden;
}
#black-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 200px;
    height: 200px;
}

#content{
    overflow-x: hidden;
    height: 100vh;
}