body{
    display: flex;
    flex-direction: column;
    background-color: #f6f2e9;
    overflow-x: hidden;
    border: 0px;
    margin: 0;
    padding: 0;
}
#all{
    height: 100vh;
    width: 100vw;
    scroll-snap-type: y mandatory; /* Activa el scroll snapping vertical */
    overflow-y: scroll; /* Habilita el scroll vertical */
    
}
#first{
    scroll-snap-align: start;
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#first-up{
    flex: 1;
}
#first-middle{
    flex: 1;
}
#first-down{
    flex: 1;
}
#second{
    scroll-snap-align: start;
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#second-up{
    flex: 1;
}
#second-middle{
    flex: 1;
}
#second-down{
    flex: 1;
}

#third{
    scroll-snap-align: start;
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#third-up{
    flex: 1;
}
#third-middle{
    flex: 1;
}
#third-down{
    flex: 1;
}